//- Calendar form

mixin form_date(path, date)
	- var date = date || new Date()
	- var dd = date && (date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2)  + '-' + ('0' + date.getDate()).slice(-2))
	- var hh = date && (date.getHours())
	- var mm = date && (date.getMinutes())
	span.date_form(class=attributes.class)
		input.date(type="text", name=path + '[date]', value=dd)
		select.hours(name=path + '[time][hours]')
			each hours, i in new Array(24)
				- var format = ('0' + i).slice(-2)
				option(value=format, selected=i == hh)= format
		span= ' :'
		select.minutes(name=path + '[time][minutes]')
			each hours, i in new Array(12)
				- var format = ('0' + (i*5)).slice(-2)
				option(value=format, selected=(i*5) <= mm)= format

//- Single Text Form

mixin form_text_single(path, object)
	input.ru(type="text", name="ru[" + path + "]", value=object && object['i18n'][path].get('ru'))
	input.en(type="text", name="en[" + path + "]", disabled, value=object && object['i18n'][path].get('en'))

//- Multiple Text Form

mixin form_text_multi(path, object)
	textarea.ru.editor(name="ru[" + path + "]",)= object && object['i18n'][path].get('ru')
	textarea.en.editor(name="en[" + path + "]", disabled)= object && object['i18n'][path].get('en')


//- Single Select Form

mixin form_single_select(path, options, select_option)
	if (!select_option)
		select(name=path)
			option(value='none') нет
			each option in options
				option(value=option._id)= option['i18n']['title'].get('ru')
	else
		select(name=path)
			option(value='none') нет
			each option in options
				option(value=option._id, selected=select_option == option._id.toString())= option['i18n']['title'].get('ru')


//- Multiple Select Form

mixin form_multiple_select(path, options, select_options)
	- var field = attributes.field || 'title'
	.snake_outer
		if (!select_options || select_options.length == 0)
			span.snake
				input.back(type="button", value="-")
				select(name=path + '[]')
					option(value='') нет
					each option in options
						option(value=option._id)= option['i18n'][field].get('ru')
		else
			each select_option in select_options
				span.snake
					input.back(type="button", value="-")
					select(name=path + '[]')
						option(value='') нет
						each option in options
							option(value=option._id, selected=option._id.toString() == select_option)= option['i18n'][field].get('ru')
		input.forward(type="button", value="+")

//- Multiple Input Form

mixin form_multiple_input(path, options)
	.snake_outer
		if (!options || !options[path] || !options[path].length > 0)
			span.snake
				input.back(type="button", value="-")
				input.input(type='text', name=path + '[]')
		else
			each option in options[path]
				span.snake
					input.back(type="button", value="-")
					input.input(type='text', name=path + '[]', value=option)
		input.forward(type="button", value="+")

//- Images Upload Form

mixin form_images_upload(images)
	if !images
		.form_images_upload
			input#upload_fallback(type='file')
			.images_upload_preview
	else
		- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
		.form_images_upload
			input#upload_fallback(type='file')
			.images_upload_preview
				each image, i in images
					.image_upload_preview(style='background-image:url(' + image.thumb + ')')
						input.image_upload_form(type='hidden', name='images[path][]', value=images_preview[i])
						.image_delete ×
						.image_description
							textarea.image_description_input.ru_img(name='images[description][ru][]', placeholder='Описание')= get_locale(image.description, 'ru')
							textarea.image_description_input.en_img(name='images[description][en][]', placeholder='Description')= get_locale(image.description, 'en')
