extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/auth/logout') Выход
	!= ' | ' + session.login
	.title ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		b Пользователи:
		a(href='/admin/users')= ' редактировать'
		br
		br
		b Площадки:
		a(href='/admin/areas')= ' редактировать'
		br
		br
		b Категории:
		a(href='/admin/categorys')= ' редактировать'
		br
		br
		b Участники:
		a(href='/admin/members')= ' редактировать'
		br
		br
		b Робот Тузик:
		a(href='/admin/tuzik')= ' редактировать'