extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/auth/logout') Выход
	!= ' | ' + session.login
	.title ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		b Пользователи:
		a(href='/users')= ' редактировать'
		br
		br
		b Площадки:
		a(href='/areas')= ' редактировать'
		br
		br
		b События:
		a(href='/events')= ' редактировать'
		br
		br
		b Категории:
		a(href='/categorys')= ' редактировать'
		br
		br
		b Участники:
		a(href='/members')= ' редактировать'
		br
		br
		hr
		br
		b Робот Тузик:
		a(href='/tuzik')= ' активировать'