mixin form_area_select(current_place)
	select.area(name='place[area]')
		each area in areas
			option(value=area._id.toString(), selected=current_place && (area._id.toString() == current_place.area))= area.i18n.title.get('ru')
	!=' // '
	each area in areas
		span.hall
			each hall in area.halls
				input(type='checkbox', name='place[halls][]' value=hall._id.toString(), disabled=true, checked=current_place && current_place.halls.some(function(c_hall) { return c_hall == hall._id.toString() }))
				!= hall.i18n.title.get('ru')


mixin form_alt_tickets(path, object)
	input.ru(type="text", name="ru[" + path + "]", value=object && object['tickets']['i18n'][path].get('ru'))
	input.en(type="text", name="en[" + path + "]", disabled, value=object && object['tickets']['i18n'][path].get('en'))


mixin form_members_select(members, event_members_groups)
	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	if (!event_members_groups || event_members_groups.length == 0)
		.snake_outer.members_list
			.snake
				input.back(type="button", value="-")
				input.ru.input(type='text', name='members[0][status][ru]')
				input.en.input(type='text', name='members[0][status][en]')
				span.snake_outer
					span.snake
						input.back(type="button", value="-")
						select(name='members[0][ids]')
							option(value='') нет
							each member in members
								option(value=member._id.toString())= member.i18n.name.get('ru')
					input.forward(type="button", value="+")
			input.forward(type="button", value="+")
	else
		.snake_outer.members_list
			each event_members_group, i in event_members_groups
				.snake
					input.back(type="button", value="-")
					input.ru.input(type='text', name='members[' + i + '][status][ru]', value=get_locale(event_members_group.status, 'ru'))
					input.en.input(type='text', name='members[' + i + '][status][en]', value=get_locale(event_members_group.status, 'en'))
					span.snake_outer
						each event_member in event_members_group.ids
							span.snake
								input.back(type="button", value="-")
								select(name='members[' + i + '][ids]')
									option(value='') нет
									each member in members
										option(value=member._id.toString(), selected=event_member._id.toString() == member._id.toString())= member.i18n.name.get('ru')
							input.forward(type="button", value="+")
			input.forward(type="button", value="+")