mixin form_area_select(current_place)
	select.area(name='place[area]')
		each area in areas
			option(value=area._id.toString(), selected=current_place && (area._id.toString() == current_place.area))= area.i18n.title.get('ru')
	!=' // '
	each area in areas
		span.hall
			each hall in area.halls
				input(type='checkbox', name='place[halls][]' value=hall._id.toString(), disabled=true, checked=current_place && current_place.halls.some(function(c_hall) { return c_hall == hall._id.toString() }))
				!= hall.i18n.title.get('ru')


mixin form_alt_tickets(path, object)
	input.ru(type="text", name="ru[" + path + "]", value=object && object['tickets']['i18n'][path].get('ru'))
	input.en(type="text", name="en[" + path + "]", disabled, value=object && object['tickets']['i18n'][path].get('en'))


mixin form_members_select(event_members)
	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	if (!event_members_roles || event_members_roles.length == 0)
		.members_roles
			.role.actor Актеры:
				//- each role in event_members
				//- 	if role.role == 'actor'
				//- 		.member
				//- 			input.rm_member(type='button', value='-')
				//- 			!= get_locale(member.name, 'ru')
				//- 			input(type='hidden', value=member._id, name='members[' + role.role +'][ids]')
			.role.director Режиссеры:
			.role.artist Художники:
		input.add_member(type='button', value='Добавить')
		.members_select.hidden
			input.members_search(type='text', placeholder='поиск...')
			select.role_select
				option(value='actor') Актеры
				option(value='director') Режиссеры
				option(value='artist') Художники
			.members_list