extends ../layout
include ../_forms.jade
include _forms.jade

block paths
	- var content_title= 'РЕДАКТИРОВАТЬ СОБЫТИЕ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/pickmeup.min.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')
	link(rel='stylesheet', type='text/css', href='/build/css/a_events.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.pickmeup.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery-ui.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery.filedrop.js')
	script(type='text/javascript', src='/build/js/upload.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')
	script(type='text/javascript', src='/build/js/a_events.js')

block sub_menu
	a.sub_item.back_link(href='/events') < Назад
	span.sub_item.toggle_eng Перевод

block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title', event)
			.form_title Подзаголовок:
			+form_text_single('s_title', event)
			.form_title Описание:
			+form_text_multi('description', event)
			.form_title Комментарий (вместо билета):
			+form_alt_tickets('alt', event)
			.form_title Изображения:
			+form_images_upload(event.images)
			.form_title Возростное ограничение:
			select(name='age')
				each age, i in new Array(19)
					option(value=i, selected=event.age == i && true)= i + '+'
			.form_title Место:
			+form_area_select(event.place)
			.form_title Тип:
			select(name='type')
				option(value='exhibition', selected=event.type == 'exhibition') Выставка
				option(value='lecture', selected=event.type == 'lecture') Лекция
			.form_title Интервал дат:
			+form_date('interval[begin]', event.interval.begin)(class='begin')
			!= ' --- '
			input(type='button', value=' ---> ').arrow_cal
			!= ' --- '
			+form_date('interval[end]', event.interval.end)(class='end')
			.form_title Участники:
			+form_members_select(event.members)
			.form_title Партнеры:
			+form_multiple_select('partners', partners, event.partners)
			.form_title Категории:
			+form_multiple_select('categorys', categorys, event.categorys)
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden', checked=event.status == 'hidden')
			!= ' скрыть'
			.form_title Дата публикации:
			+form_date('date', event.date)
			br
			br
			input(type='submit', value='отправить')