include ../vars.jade

mixin eventBlock(event, locale)
	.event_block(class=event.type)

		.event_header
			.event_type= event_types[event.type][locale]
			.event_categorys
				each category in event.categorys
					.category= category.i18n.title.get(locale)
			.event_age= event.age


		.event_body
			.event_body_title
				.event_title= event.i18n.title.get(locale)
				.event_members
					each member in event.members
						.member_item
							.member_role= members_roles[member.role][locale]
							.member_list
								each id in member.ids
									.member_name= id.i18n.name.get(locale)
			.event_body_schedule
				.event_halls
					if event.place.halls
						each hall in event.place.halls
							.item_hall= hall.i18n.title.get(locale)
				if (event.type == 'exhibition')
					.event_interval= event.interval.begin.getDate() + ' ' + months[event.interval.begin.getMonth()] + ' — ' + event.interval.end.getDate() + ' ' + months[event.interval.end.getMonth()]
				else
					.event_interval= event.interval.begin.getDate() + ' ' + months[event.interval.begin.getMonth()] + ' — ' + ('0' + event.interval.begin.getHours()).slice(-2) + ':' + ('0' + event.interval.begin.getMinutes()).slice(-2)
			.event_tickets
				if event.tickets.ids.length > 1
					each ticket in event.tickets.ids
						if ticket.events.length == 1
							.ticket_item
								span.ticket_price= ticket.price
								span= ' - '
								span.ticket_type= ticket.type
				else
					!= event.tickets.i18n.alt.get(locale)





each area in areas
	.flip_area
		.area_inner
			each locale in ['ru']
				.flip_lang
					.flip_header
						.header_title
							.header_date
								.date
								.time
									span.hours
									span.time_sep.tick :
									span.minutes
							.header_logo
								img.logo(src='/images/design/logo_ru.svg')
								.logo_title музейно-выставочное объединение
						.header_contacts
							.area_title= area.area.title
							.area_location
								.area_adress= area.area.contacts.adress
								.area_schedule= area.area.contacts.schedule
							.area_contacts
								.area_phones
									each phone in area.area.contacts.phones
										span.phone= phone
								.area_emails
									each email in area.area.contacts.emails
										span.email= email
					//- .flip_events
					//- 	each event in area.events
					//- 		+eventBlock(event, locale)