include ../vars.jade

mixin eventBlock(event)
	.event_block

		.event_header
			.event_type= event_types[event.type]['ru']
			.event_categorys
				each category in event.categorys
					.category= category.i18n.title.get('ru')
			.event_age= event.age


		.event_body
			.event_title= event.i18n.title.get('ru')
			.event_halls
				if event.place.halls
					each hall in event.place.halls
						.item_hall= hall.i18n.title.get('ru')
			.event_members
				each member in event.members
					.member_item
						.member_role= member.ids.length > 1 ? members_roles[member.role]['ru'] : members_roles[member.role]['ru'].slice(0, -1)
						.member_list
							each id in member.ids
								.member_name= id.i18n.name.get('ru')
			.event_tickets
				if event.tickets.ids.length > 1
					each ticket in event.tickets.ids
						if ticket.events.length == 1
							.ticket_item
								span.ticket_price= ticket.price
								span= ' - '
								span.ticket_type= ticket.type
				else
					!= event.tickets.i18n.alt.get('ru')




each chunk in chunks
	.flip_item
		.flip_header
			- var now = new Date()
			.flip_date
				.date
				.time
					span.hours
					span.time_sep :
					span.minutes
			.flip_logo
				img.logo(src='/images/design/logo_ru.svg')
				.logo_title музейно-выставочное объединение
		.flip_area
			.area_title= area.i18n.title.get('ru')
			.area_location
				.area_adress= area.contacts.i18n.adress.get('ru')
				.area_schedule Вт — Вскр 12:00 — 22:00
			.area_contacts
				.area_phones
					each phone in area.contacts.phones
						span.phone= phone
				.area_emails
					each email in area.contacts.emails
						span.email= email

		.flip_events
			each event in chunk
				+eventBlock(event)